<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <nav>
    <a th:href="@{/}">Home</a>
    <a th:href="@{/contacto}">Contacto</a>
    <div class="dropdown">
        <a href="#">Ciclos</a>
        <div class="dropdown-content">
            <a th:href="@{/smr}">SMR</a>
            <a th:href="@{/asir}">ASIR</a>
            <a th:href="@{/daw}">DAW</a>
        </div>
    </div>
</nav>
    <h1>MI CURRICULUM VITAE</h1>
</body>
</html>