<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pokédex Spring Boot</title>     <link rel="stylesheet" th:href="@{/css/pokemon.css}">
</head>
<body>
<h1>Pokédex Spring Boot</h1>
<div>
    <h3>
        Número: <span th:text="${pokemon.numero}"></span> -  <span th:text="${pokemon.nombre}"></span>
    </h3>
    <img th:src="${pokemon.imagen}" />
    <p>
        HP: <span th:text="${pokemon.hp}"></span> |
        Ataque: <span th:text="${pokemon.ataque}"></span> |
        Defensa: <span th:text="${pokemon.defensa}"></span>
    </p>
    <p>
        <span th:each="tipo : ${pokemon.tipos}" class="tipo" th:text="${tipo}"></span>
    </p>
</div>
<div>
    <a th:href="@{/pokemon/{id}(id=${id-1 <= 0 ? 1000 : id-1})}">  <button>⬅️ Anterior</button>   </a>
    <a th:href="@{/pokemon/{id}(id=${id+1 > 1000 ? 1 : id+1})}">  <button>Siguiente ➡️</button>  </a>
</div>
</body>
</html>