<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pokédex Spring Boot</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/pokemon.css}">
</head>
<body class="bg-light">
<div class="container text-center mt-5">
    <h1 class="mb-4">Pokédex Spring Boot</h1>

        <div class="row">
            <div class="col-md-2" th:each="pokemon : ${pokemons}">
                <div class="card">
                    <img th:src="${pokemon.imagen}" class="card-img-top" alt="pokemon">
                    <div class="card-body">
                        <h5 class="card-title">
                            <span th:text="${pokemon.numero}"></span>   -    <span th:text="${pokemon.nombre}"></span>
                        </h5>
                        <a th:href="@{/pokemon/{id}(id=${pokemon.numero})}" class="btn btn-primary">
                            Ver detalle
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>